footer{
    display: flex;
    justify-content: space-between;
    background-color: #F7F9FB;
    max-height: 215px; 
    padding: 30px 130px; 
}

footer h4{
    margin-bottom: 30px;
}

footer nav{
    width: 40%;
    display: block;
   
}

footer nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 86px;
}

footer nav ul li{
    margin-bottom: 5px;
}
footer nav a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}

footer a:hover{
    text-decoration: underline;

}

footer .fast-access{
    display: flex;
    flex-direction: column;
    
}

footer button[name="questions"]{
    text-align: left;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 32px;
    background: #0275B1;
    color: white;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

footer button[name="settings"]{
    text-align: left;
    padding-left: 10px;
    width: 170px;
    height: 32px;
    background: white;
    color: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

footer select{
    width: 270px;
    height: 32px;
    padding-left: 10px;
    font-weight: bolder;
}

.fast-access i{
    position: absolute;
    margin-left: -25px;
    margin-top: 8px ;
}

.fa-question-circle{
    color:white;
    
}

.fa-cog{
    color: #0275B1;
}