@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
}

header {
    display: flex;
    justify-content: space-around;
    max-width: 1280px;
    height: 80px;
    align-items: center;
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
}

.feed {
    border-right: solid 2px #F4F4F4;
    border-left: solid 2px #F4F4F4;
    width: 450px;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px;
}

.feed li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.feed li:hover{
    color: #0771A9;
    transform: scale(1.2);
}

.search {
    
    width: 250px;
    height: 80px;;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.search input {
    outline: 0;
    border: none;
}

.search input:hover {
    border-bottom: solid 2px #0771A9;
}

.lupa:hover {
    color: #0771A9;
    transform: scale(1.2);
    cursor: pointer;
}

.profile {
    border-left: solid 2px #F4F4F4;
    border-right: solid 2px #F4F4F4;
    width: 290px;
    height: 80px;
    justify-content: center;   
    align-items: center;
    display: flex;
    gap: 10px;
}

.avatar {
    cursor: pointer;
}

.avatar img {
    width: 55px;
}

.container-informacoes {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes {
    display: flex;
    gap: 10px;
}

.p1 {
    cursor: pointer;
   font-weight: bold; 
}

.p2 {
    color: rgba(0, 0, 0, 0.3);
}

.p3 {
    color: #747474;
}

.p4 {
    color: #02B033
}

.p4-views {
    display: flex;
}

.p4-views img {
    height: 17px;
}

.other {
    cursor: pointer;
    display: flex;
    gap: 5px;
    width: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}