@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* -- HEADER -- */
header {
    display: flex;
    justify-content: center;
    height: 80px;
    align-items: center;
    background-color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 640px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
}

.feed {
    border-right: solid 2px #F4F4F4;
    border-left: solid 2px #F4F4F4;
    width: 450px;
    height: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 40px;
}

.feed li {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
}

.feed li:hover{
    color: #0771A9;
    transform: scale(1.2);
}

.search {
    
    width: 250px;
    height: 80px;;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.search input {
    outline: 0;
    border: none;
}

.search input:hover {
    border-bottom: solid 2px #0771A9;
}

.lupa:hover {
    color: #0771A9;
    transform: scale(1.2);
    cursor: pointer;
}

.header-profile {
    border-left: solid 2px #F4F4F4;
    border-right: solid 2px #F4F4F4;
    width: 290px;
    height: 80px;
    justify-content: center;   
    align-items: center;
    display: flex;
    gap: 10px;
}

.avatar {
    cursor: pointer;
}

.avatar img {
    width: 55px;
}

.container-informacoes {
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informacoes {
    display: flex;
    gap: 10px;
}

.p1 {
    cursor: pointer;
   font-weight: bold; 
}

.p2 {
    color: rgba(0, 0, 0, 0.3);
}

.p3 {
    color: #747474;
}

.p4 {
    color: #02B033
}

.p4-views {
    display: flex;
}

.p4-views img {
    height: 17px;
}

.other {
    cursor: pointer;
    display: flex;
    gap: 5px;
    width: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.other:hover {
    transform: scale(1.2);
    color: #0771A9;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F7F9FB;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
}

.container-flex{
    display: flex;

}

.container-flex section{
    background-color: white;
    padding: 30px;
}

/*--MAIN --*/
main{
    width: 70%;
    
}

main section{
    margin-bottom: 20px;
    
}



main section h2{
    font-weight: bold;
    font-size: 18px;
}

/*-- profile --*/
main .profile{
    padding: 0px;
    height: 360px;
    background-image: url('/img/image-background.png');
    background-repeat: no-repeat;
    width: 100%;
    
}

main .profile-top{
    height: 180px;
}

.profile .fa-location-arrow{
    color: #0275B1;
}

main .profile-bottom{
    background-color: white;
    
}

.profile-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    /* padding-bottom:20px; */
    
    
}

.profile-top button{
    background-color: white;
    border: none;
    padding:5px;
}

.profile-bottom img{
    position: absolute;
    margin-top: -45px;
    margin-left: 25px;
}

.profile-text{
    margin-left: 220px;
    margin-right: 25px;
}

.profile-bottom .row{
    margin-bottom: 15px;
}

.profile-bottom .row:first-child{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.profile-bottom button[name="contact"]{
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 32px;
    background: #0275B1;
    color: white;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

.profile-bottom button[name="connections"]{
    text-align: center;
    padding-left: 10px;
    width: 170px;
    height: 32px;
    background: white;
    color: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

/*--projects --*/

.projects{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    justify-content: space-between;
    
}

.projects .row:first-child{
    display: flex;
}
.projects .row:first-child small{
    color: #747474;
    font-size: 12px;
    margin-left: 15px;
    align-self: center;
    
}
.projects .row:nth-child(2){
    margin-top:25px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}


.projects{
    padding: 30px;
}

.projects h4{
    font-size: 16px;
    font-weight: bold;
    margin-bottom:8px;
}

.projects-card img{
    width: 230px;
}

.projects-card small{
    font-size: 12px;
    color:#181818;
    margin-top:8px;
}

.projects .row:last-child{
    margin-top:25px;
}
.projects .row:last-child span{
    font-weight: bold;
    color: #0275B1;
    cursor: pointer;
    font-size:12px;
}

/*--EXPERIENCE --*/

.experience{
    display: flex;
    /* height: 345px; */
    flex-direction: column;
    justify-content: space-between;
}

.imagem-laranja{
    width: 54px;
    height: 54px;
    background: linear-gradient(215.49deg, #FFB75E 5.4%, #ED8F03 93.45%);
    border-radius: 27px;
}

.fa-globe{
    color:white;
    width: 26.67px;
    height: 26.67px;
    margin:13.7px;
}

.experience h2{
    margin-bottom: 25px;
}

.experience .row{
    display: flex;
    align-items: start;
}

.experience .row{
    margin-bottom:25px;
}

.experience .row:last-child{
    
    margin-bottom:0px;
}
.experience .experience-text {
    margin-left:15px;
}

.experience-text div{
    margin-bottom: 10px;
}
.experience h4{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.experience-text small{
    font-size:12px;
}

.experience-text span{
    font-size: 12px;
        
}

.experience-text div span:first-child{
    color:#181818;
    line-height: 15px;
    margin-right:10px;
}

.experience-text div small{
    color:#181818;
    line-height: 15px;
    margin-right:10px;
}

.experience-text div span{
    font-weight: bold;
    color: #0275B1;
}

.experience-text p{
    font-size:12px;
    line-height: 15px;
}

.experience-text div:nth-child(2){
    margin-bottom:5px;
}


/*--ASIDE --*/

aside{
    width: 28%;
     margin-left:2%;
    
}

aside section{
    margin-top: 20px;
}

aside h3{
    text-transform: uppercase;
}


/* -- aside cursos -- */

.title-courses{
    padding-bottom: 25px;
    border-bottom: 1px solid #F4F4F4;
}

.title-courses h3{
    font-weight: bold;
    font-size: 14px;
}

.courses h2{
    font-size: 16px;
    font-weight: bold;
}
.courses .row{
    margin-top:20px;
}


.courses:last-child span{
    font-weight: bold;
    color: #0275B1;
    cursor: pointer;
    font-size:12px;
    padding-top:25px;
    
}

.courses .ver-mais{
    margin-top:25px;
}

.course-text small{
    font-size: 12px;
    line-height: 15px;
    padding-top:10px;
   
}

.courses .row{
    display: flex;
    
}

.course-text{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}


/*--FOOTER --*/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #F7F9FB;
    max-height: 215px; 
    padding: 30px 130px;
    border-top: solid 1px #E7E7E7; 
}

footer h4{
    margin-bottom: 30px;
}

footer nav{
    width: 40%;
    display: block;
   
}

footer nav ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 86px;
}

footer nav ul li{
    margin-bottom: 5px;
}
footer nav a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}

footer a:hover{
    text-decoration: underline;

}

footer .fast-access{
    display: flex;
    flex-direction: column;
    
}

footer button[name="questions"]{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 32px;
    background: #0275B1;
    color: white;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px;
    
}

footer button[name="questions"] span{
  
   margin-right: 50px
}

footer button[name="settings"]{
    text-align: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    width: 170px;
    height: 32px;
    background: white;
    color: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

footer button[name="settings"] span{
    
    margin-right: 50px
 }


footer select{
    width: 270px;
    height: 32px;
    padding-left: 10px;
    font-weight: bolder;
}

.fast-access i{
    position: absolute;
    margin-left: -25px;
    margin-top: 8px ;
}

footer .fa-question-circle{
    color:white;
    
}

footer .fa-cog{
    color: #0275B1;
}

/* botões */
.buttons-main {
    display: flex;
    background-color: #E5E5E5;
    margin-bottom: -25px;
    cursor: pointer;
}

.button-profile {
    border: solid 1px #E7E7E7;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 40px;
}

.button-profile:hover {
    border: solid 1px #066DA2;
    background-color: #066DA2;
    color: white;
}

.button-activity {
    border: solid 1px #E7E7E7;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 40px;
}

.button-articles {
    border: solid 1px #E7E7E7;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 40px;
}

/* about */

.about {
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    height: 200px;
}

.about div p{
    padding: 60px 0 15px 0;
    font-weight: bold
}

.about p {
    padding-bottom: 20px;
}

.about span {
    font-weight: bold;
    color: #0275B1;
    cursor: pointer;
    width: 77px;
}

/* skills */

.skills-endoresments {
    padding: 30px;
    height: 220px;
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 24px 0;
}

.skills {
    font-weight: bold;
    font-size: 18px;
    line-height: 17px;
    color: #181818;
}

.content-pai {

    display: flex;
    justify-content: space-around;
}

.content-filho {
    width: 190px;
    border: solid 1px #F4F4F4;
    border-radius: 6px;
    display: flex;
    padding: 10px;;
    flex-direction: column;
}

.filho p:last-child{
    color: #0275B1;
}

.content-filho img {
    padding-top: 10px;
    width: 100px;
}

.filho {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.skills-endoresments span {
    font-weight: bold;
    color: #0275B1;
    cursor: pointer;  
}

 /* education */

.education {
    height: 195px;
    padding: 30px;
    border-radius: 4px;
}

.education-div {
    display: flex;
    gap: 16px;
}

.education-div img {
    height: 80px;
    width: 80px;
    margin: 10px;
}

.flex-education {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex-education span {
    font-weight: bold;
}

.education h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 16px;
}

/* aside dashboard */

.dashboard {
    height: 360px;
    border-radius: 4px;
    padding: 25px;
}

.top-dashboard {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid 1px #F4F4F4;
}

.top-dashboard span {
    color: #0275B1;
    text-decoration: underline;
    cursor: pointer;
}

.cont-dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.cont-dashboard p:first-child{
    font-size: 52px;
    color: #0275B1;
}

/* visitors */

.visitors {
    height: 427px;
    border-radius: 4px;
    padding: 25px;
}

.top-visitors {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: solid 1px #F4F4F4;
}

.top-visitors span {
    color: #0275B1;
    text-decoration: underline;
    cursor: pointer;
}

.global-visitors {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.cont-visitors {
    display: flex;
    padding: 15px 0;
    gap: 15px;
    align-items: center;
}

.cont-visitors p:first-child{
    font-weight: bold;
    margin-bottom: 5px;
}

.cont-visitors p:last-child{
    font-size: 14px;
}