@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
}

.container{
   max-width: 1200px;
   margin: 0 auto;
}

.container-flex{
    display: flex;
    /* justify-content: space-between;
    height: 1826px; */
}

.container-flex section{
    background-color: white;
}

/*--MAIN --*/
main{
    width: 70%;
    margin: 40px;
    background-color: coral;
}

main section{
    margin-top: 20px;
}

main section h2{
    text-transform: uppercase;
}

/*-- profile --*/
main .profile{
    height: 360px;
    background-image: url('/img/image-background.png');
    background-repeat: no-repeat;
    width: 100%;
    
}

main .profile-top{
    height: 180px;
}

main .profile-bottom{
    background-color: white;
    
}

.profile-top{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    
    
}

.profile-top button{
    background-color: white;
    border: none;
    padding:5px;
}

.profile-bottom img{
    position: absolute;
    margin-top: -45px;
    margin-left: 25px;
}

.profile-text{
    margin-left: 220px;
    margin-right: 25px;
}

.profile-bottom .row{
    margin-bottom: 15px;
}

.profile-bottom .row:first-child{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.profile-bottom button[name="contact"]{
    text-align: center;
    padding-left: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 32px;
    background: #0275B1;
    color: white;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}

.profile-bottom button[name="connections"]{
    text-align: center;
    padding-left: 10px;
    width: 170px;
    height: 32px;
    background: white;
    color: #0275B1;
    border: 1px solid #0275B1;
    box-sizing: border-box;
    border-radius: 4px; 
}
/*--ASIDE --*/

aside{
    width: 30%;
    margin: 40px 0;
    background-color: aqua;
}

aside section{
    margin-top: 20px;
}

aside h3{
    text-transform: uppercase;
}